{% extends "base.html" %}

{% block title %}Категория: {{ category.name }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">Категория: {{ category.name }}</h2>
    <h3>Товары в этой категории</h3>
    <div class="row">
        {% for product in category.products.all %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            <span class="price-tag">{{ product.price }}₽</span>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'product-detail' product.slug %}" class="btn btn-primary btn-block">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
        <p>В этой категории пока нет товаров.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
