{% extends "base.html" %}

{% block title %}Категория: {{ category.name }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-center text-dark font-weight-bold">
        Категория: {{ category.name }}
    </h2>
    <div class="row">
        {% for product in category.products.all %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card shadow-sm h-100">
                    <div class="card-img-container" style="overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px;">
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-dark">{{ product.name }}</h5>
                        <p class="card-text">
                            <span class="price-tag">{{ product.price }}₽</span>
                        </p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <a href="{% url 'product-detail' product.slug %}" class="btn btn-dark btn-block">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center text-muted">Товары в этой категории отсутствуют.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
