{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="product-detail-container">
        <h2 class="product-detail-title my-4">{{ product.name }}</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid product-image">
            </div>
            <div class="col-md-6">
                <p class="product-detail-description lead">{{ product.description }}</p>
                <p class="product-detail-price">Цена: <span class="price-tag">{{ product.price }}₽</span></p>
                <p class="product-detail-stock"><strong>На складе:</strong> {{ product.stock }}</p>

                {% if user.is_authenticated %}
                    {% if current_quantity > 0 %}
                        <p><i>Товар уже в корзине</i></p>
                        <form method="post" action="{% url 'update-cart' cart_item.id %}" class="update-cart-form">
                            {% csrf_token %}
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-outline-secondary quantity-minus" {% if max_quantity <= 0 %}disabled{% endif %}>-</button>
                                <input type="number" id="quantity-{{ cart_item.id }}" name="quantity" 
                                       class="form-control mx-2 text-center quantity-input" 
                                       value="{{ current_quantity }}" 
                                       min="1" max="{{ max_quantity }}" 
                                       style="width: 60px;" required>
                                <button type="button" class="btn btn-outline-secondary quantity-plus" {% if max_quantity <= 0 %}disabled{% endif %}>+</button>
                            </div>
                            <button type="submit" class="btn btn-success btn-block mt-2 update-cart-button" disabled>Обновить в корзине</button>
                        </form>
                        
                    {% else %}
                        {% if can_add_to_cart %}
                            <form method="post" action="{% url 'add-to-cart' product.id %}" class="add-to-cart-form">
                                {% csrf_token %}
                                <div class="d-flex align-items-center">
                                    <button type="button" class="btn btn-outline-secondary quantity-minus">-</button>
                                    <input type="number" id="quantity" name="quantity" class="form-control mx-2 text-center quantity-input" value="1" min="1" max="{{ max_quantity }}" required>
                                    <button type="button" class="btn btn-outline-secondary quantity-plus">+</button>
                                </div>
                                <button type="submit" class="btn btn-success btn-block mt-2">Добавить в корзину</button>
                            </form>
                        {% else %}
                            <p class="text-danger">К сожалению, данный товар недоступен для добавления в корзину.</p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <p class="text-danger">Пожалуйста, <a href="{% url 'login' %}">войдите в аккаунт</a>, чтобы добавить товары в корзину.</p>
                {% endif %}
            </div>
        </div>
        <a href="{% url 'product-list' %}" class="btn btn-secondary btn-back-to-products">Назад к списку продуктов</a>
    </div>
</div>
<div id="payment-modal" class="modal">
    <div class="modal-content">
        <button class="modal-close" id="modal-close-button">&times;</button>
        <h3>Операция завершена</h3>
        <p>Ваш товар успешно обновлен в корзине!</p>
    </div>
</div>
<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        font-size: 1.5rem;
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 8px;
        width: 80px;
        text-align: center;
        background-color: #f9f9f9;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    input[type="number"]:focus {
        border-color: #28a745;
        box-shadow: 0 0 8px rgba(40, 167, 69, 0.5);
        outline: none;
    }
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .modal.show {
        display: block;
    }

    .modal-content {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        max-width: 500px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modal = document.getElementById('payment-modal');
        const closeButton = document.getElementById('modal-close-button');
        const quantityMinusButtons = document.querySelectorAll('.quantity-minus');
        const quantityPlusButtons = document.querySelectorAll('.quantity-plus');
        const quantityInputs = document.querySelectorAll('.quantity-input');

        function showModal() {
            modal.classList.add('show');
            setTimeout(() => {
                modal.classList.remove('show');
            }, 2000);
        }

        if (closeButton) {
            closeButton.addEventListener('click', () => {
                modal.classList.remove('show');
            });
        }

        function toggleUpdateButton(input) {
            const form = input.closest('.update-cart-form');
            const updateButton = form.querySelector('.update-cart-button');
            const initialQuantity = parseInt(input.defaultValue);
            const currentQuantity = parseInt(input.value);

            if (currentQuantity === initialQuantity || isNaN(currentQuantity)) {
                updateButton.disabled = true;
            } else {
                updateButton.disabled = false;
            }
        }

        quantityMinusButtons.forEach(button => {
            button.addEventListener('click', () => {
                const input = button.nextElementSibling;
                if (input && input.value > 1) {
                    input.value = parseInt(input.value) - 1;
                    toggleUpdateButton(input);
                }
            });
        });

        quantityPlusButtons.forEach(button => {
            button.addEventListener('click', () => {
                const input = button.previousElementSibling;
                const maxValue = parseInt(input.max);
                if (input && parseInt(input.value) < maxValue) {
                    input.value = parseInt(input.value) + 1;
                    toggleUpdateButton(input);
                }
            });
        });

        quantityInputs.forEach(input => {
            input.addEventListener('change', () => {
                const maxValue = parseInt(input.max);
                if (input.value < 1) {
                    input.value = 1;
                } else if (input.value > maxValue) {
                    input.value = maxValue;
                }
                toggleUpdateButton(input);
            });

            toggleUpdateButton(input);
        });

        document.querySelectorAll('.add-to-cart-form, .update-cart-form').forEach(form => {
            form.addEventListener('submit', event => {
                event.preventDefault();
                const formData = new FormData(form);
                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': form.querySelector('[name="csrfmiddlewaretoken"]').value
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Ошибка сети');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            showModal();
                            setTimeout(() => location.reload(), 1500);
                        } else {
                            alert(data.error || 'Ошибка при обработке запроса');
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка:', error);
                        alert('Ошибка сети. Повторите попытку.');
                    });
            });
        });
    });    
</script>
{% endblock %}
