{% extends "base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="container">
    <h2>Профиль {{ user.username }}</h2>
    <p>Имя пользователя: {{ user.username }}</p>
    <p>Дата рождения: {{ user.birth_date }}</p>
    <p>Дата регистрации: {{ user.date_joined }}</p>
    
    <a href="{% url 'password_change' %}" class="btn btn-warning">Изменить пароль</a>
    <form method="post" action="{% url 'logout' %}" style="display: inline">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Выйти</button>
      </form>
</div>
{% endblock %}
