<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Строительный магазин{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>Строительный магазин</h1>
      <nav>
        <ul>
          <li><a href="{% url 'product-list' %}">Продукты</a></li>
          <li><a href="{% url 'category-list' %}">Категории</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'cart-list' %}">Корзина</a></li>
          {% endif %}
          <li><a href="/admin/">Админка</a></li>
          {% if user.is_authenticated %}
          <li>
            <form
              method="post"
              action="{% url 'logout' %}"
              style="display: inline"
            >
              {% csrf_token %}
              <button type="submit">Выход</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Вход</a></li>
          <li><a href="{% url 'register' %}">Регистрация</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; {% now "Y" %} Строительный магазин</p>
    </footer>
  </body>
</html>
